# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [ ]:
data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(data)

wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
wine = wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis = 1)

wine.head()

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
wine.iloc[0:3, 0] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine.iloc[3:5, 3] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,NaN,3.39,1.97,1.05

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine.alcohol.fillna(10, inplace=True)
wine.magnesium.fillna(100, inplace=True)
wine.head()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
2,3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
3,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,11,13.75,1.73,16.0,89.0,2.76,1.81,1.15

### Step 9. Count the number of missing values

In [ ]:
sum(wine.isnull().sum())

0

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
j = np.random.randint(1,10, size=(10))

[8 6 4 1 6 7 8 9 6 5]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell. (this was a bit ambiguous so I set the NaN values into alcalinity_of_ash)

In [ ]:
wine.alcalinity_of_ash[j] = np.nan
wine.head(20)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,NaN,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,NaN,100.0,3.39,1.97,1.05
5,14.39,1.87,NaN,96.0,2.52,1.98,1.02
6,14.06,2.15,NaN,121.0,2.51,1.25,1.06
7,14.83,1.64,NaN,97.0,2.98,1.98,1.08
8,13.86,1.35,NaN,98.0,3.15,1.85,1.01
9,14.10,2.16,NaN,105.0,3.32,2.38,1.25
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
15,14.30,1.92,20.0,120.0,3.14,1.97,1.07
16,13.83,1.57,20.0,115.0,3.40,1.72,1.13
17,14.19,1.59,16.5,108.0,3.93,1.86,1.23
18,13.64,3.10,15.2,116.0,3.03,1.66,0.96
19,14.06,1.63,16.0,126.0,3.17,2.10,1.09

### Step 12.  How many missing values do we have?

In [ ]:
sum(wine.isnull().sum())
#less than 10 due to duplicate random number generation

7

### Step 13. Delete the rows that contain missing values

In [ ]:
wine = wine.dropna()
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15

### Step 14. Print only the non-null values in alcohol

In [ ]:
wine.alcalinity_of_ash[wine.alcalinity_of_ash.notnull()]

0      11.2
2      16.8
3      21.0
10     16.8
11     16.0
       ...
172    20.5
173    23.0
174    20.0
175    20.0
176    24.5
Name: alcalinity_of_ash, Length: 170, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
wine = wine.reset_index()
wine.head(len(wine))

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
2,3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
3,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...,...
165,172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
166,173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
167,174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
168,175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
169,176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.